body {
    font-family: 'Courier New', Courier, monospace;
    background-color: #F4F0E8;
}

header {
    display: flex;
    justify-content: space-between;
    max-width: 935px;
}

.container {
    height: 100%;
    width: 100%;
}

table, td {
    border: 2px solid black;
    /* margin: 10px; */
    border-collapse:collapse;
}

thead {
    font-weight: bold;
    font-size: 20px;
    height: 25px;
}

td {
    text-align: center;
    width: 300px;
    text-wrap: wrap;
    height: 50px;
}


.new-button {
    display:flex;
    margin: 10px;
    justify-content: center;
}

.pages {
    width: 100px;
}

.read {
    width: 100px;
}

.delete-column {
    width: 100px;
}